{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
    <h1>Incidencias</h1>

    {{ form(form) }}
    <a href="{{ path('incidencia_filterLastCreated') }}" class="btn btn-primary">Últimas incidencias creadas (72h)</a>
    <a href="{{ path('incidencia_filterLastResolved') }}" class="btn btn-primary">Últimas incidencias resueltas (72h)</a>


    <table class="table col-xs-6 pt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Descripcion</th>
                <th>Fecha de creación</th>
                <th>Resuelto</th>
                <th>Fecha de resolución</th>
                <th>Categoría</th>
                <th>Tags</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for incidencia in incidencias %}
            <tr class="ajax-row">
                {% include 'incidencia/incidencia.html.twig' %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no existen incidencias</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(incidencias) }} Total incidencias => {{ incidencias.getTotalItemCount }}
    </div>

    {% if is_granted('ROLE_SOPORTE') == false %}
        <a href="{{ path('incidencia_new') }}" class="btn btn-primary">Crear nueva incidencia</a>
        <a href="{{ path('categoria_index') }}" class="btn btn-primary">Ir a categorías</a>
    {% endif %}

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
       <div class="modal-dialog" role="document">
           <div class="modal-content">
               <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   <h4 class="modal-title" id="editModalLabel"></h4>
               </div>

               <div class="modal-footer">
                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
           </div>
       </div>
   </div>

{% endblock %}

{% block javascripts %}
    <script>

        var triggerElement;

        $('#editModal').on('shown.bs.modal', function (event) {
           triggerElement = $(event.relatedTarget); // Button that triggered the modal
        });

        ////////////////////////////////////////////////////////////////////////////

        $(document).on("click", ".btn-solved", function(e) {
            e.preventDefault();
            var $this = $(this);
            var url = $this.attr('href');
            var id = $this.data('id');
            var $originalButton = $this;
            var closeModal = true;
            var params = 'id='+id;
            $.ajax({
                type: 'post',
                url: url,
                data: params,
                async: false,
                success: function(data){
                    var $newRow = $(data);
                    var row = $originalButton.closest('.ajax-row');
                    row.empty();
                    row.append($newRow);
                },
                error: function(data) {
                   alert($(data));
                }
            });
        });

        ////////////////////////////////////////////////////////////////////////////

        $('.incidenciaModal').click(function() {
            var url = $(this).attr('href');
            $.get(url, function (data) {
                $("#editModal .modal-content").html(data);
            });
        });

        ////////////////////////////////////////////////////////////////////////////

        $(document).on("submit", '#edita_incidencia', function(e) {
            e.preventDefault();
            var form = $(this).serialize();
            var url = $('#edita_incidencia .btn').attr('href');
            var type = $(this).attr('method');

            $.ajax({
                type: type,
                url: url,
                data: form,
                success: function(data){
                    /*var $newRow = $(data);
                    var row = $originalButton.closest('.ajax-row');
                    row.empty();
                    row.append($newRow.html());*/
                    var tr = triggerElement.closest('.ajax-row');
                    tr.empty();
                    tr.append(data);
                    $('#editModal').modal('hide')
                },
                error: function(data) {
                   console.log(data.responseText);
                }
            });

        });

    </script>
{% endblock %}